/*
CEP 2017
html science
*/
/* 
    Created on : Oct 15, 2015, 9:51:44 AM
    Author     : Zeaton
*/

h1{
    color: #5319AA;
   font-family: "Palatino", Arial, sans-serif;
   font-size: xx-large;
    align-content: center;
    padding-left: 5px;
}
h2{
     color: #5319AA;
   font-family: "Palatino", Arial, sans-serif;
   font-size: x-large;
    
    padding-left: 10px;
}
h3{
         color: #5319AA;
   font-family: "Palatino", Arial, sans-serif;
   font-size: large;
    
    padding-left: 10px;
}

h4{
    padding-left: 10px;
}

#headingLink{
    cursor: pointer;
}
p{
    padding-left: 5px;
}

#purpleBold{
    color: #5319AA;
    font-weight: bold;
}
#bigLetters{
    font-size: x-large;
}
div{
    padding-left: 5px;
    padding:5px;
    margin-bottom: 5px;
    
}

table{
   font-family: "Palatino", Arial, sans-serif;
 background-color: white;
 padding-left: 1px;
border-style:solid;

   
}

thead{
    background-color: pink;
    border-style:solid;
}
td{
    background-color: #FFF1FF;
    padding-left: 1px;
    padding-right: 2px;
    border-style: solid;
    
}
th{background-color: #FFCCFF;}




body{
     color: black;
   font-family: "Palatino", Arial, sans-serif;
font-size: small;
}

footer{
    min-width: 100%;
     min-height:15%;
    float:left;
    background-color: #ffffcc;
    padding: 5px;
   
}

header{
    
    background-color: #ffffcc;
       
    min-width: 100%;
    text-align: center;
    padding: 10px;
}
#definitionHeader{
      background-color: #2080d0;
    min-width: 100%;
    text-align: center;  
}

#around {
    
    width: 100%;
    height:100%;
    float:left;
    border-style:solid;
    border-color: black;
    background-color: #ccffcc;
  
}

#answerbox1{
    min-width: 80%;
    background-color: #ccffcc;
}
#answerbox2{
    min-width: 80%;
    background-color: #ccffcc;
}

#cellHalfWidth{
    border-style: groove ;
    background-color: powderblue;
    width:50%;
    padding:5px;
    cursor: pointer;
}

#canvas1{
    height: 200px;
    width: 200px;
    border-style: solid;
}

#canvas2{
    height: 200px;
    width: 200px;
    border-style: solid;
}

#definitionLink{
      color: black;
  background-color: transparent;
  text-decoration: none;
}

#definitionLink:hover {
      color: red;
  background-color: transparent;
  text-decoration: none;
}

#eConfig{
    width : 30%;
    float:left;
    background-color: skyblue;
    padding : 10px;
    
}
#dotSquareExercise{
    background-color: snow;
    border-color: black;
    border: solid;
}

#electronicStructureExamples{
    width: 45%;
    float: left;
    
}

#elementHeader{
    background-color:silver;
    min-width: 100%;
    text-align: left;
}
#es1{
    width:100%;
    background-color: white;
}
#fullSizeImage{
    width:100%;
    height:auto;
}
#imageFloatLeft{
    float:left;
}
#imageFloatLeftPointer{
    float:left;
    cursor:pointer;
}

#layout1{
    width : 40%;
    float:left;
    border-style: solid;
    padding : 10px;
    
}

#layoutleft40{
        width : 40%;
    float:left;
    border-style:none;
    padding : 10px;
}


#layout2{
    width : 90%;
    height :30%;
    
    padding : 10px;
    
}
#layout3{
    width : 90%;
    min-height: 2%;
    padding : 10px;
    
}
#layout4{
    min-width : 90%;
    min-height: 2%;
    padding : 10px;
    float:left;
}
#layoutRight{
    width : 30%;
    min-height: 2%;
    padding : 10px;
    float:right;
    background-color: pink;
    
}
#inner1{
    width : 10%;
}

#pictorialEdition{
   
    float:left;
       border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
    min-height:120px;
    min-width:120px;
  
}
#success{
    
}
#scorer{
  float:right;
  width: 10%;
  height:100px;
  background-color: paleturquoise;
  border-width :thin;
  border-color :#5319AA;
}

#score{
    padding-left: 10px;
    color: #5319AA;
    
}

#buttonBack{
    background-color: black;
    border:lavender;
    border-style: groove;

    
}
#layoutLeft{
    float:left;
    width:100%;
    padding:5px;
}
#layoutLeft100{
    float:left;
    width:100%;
    padding:5px;
}

#layoutLeft60{
     float:left;
    width:60%;
    padding:5px; 
}
#layoutLeft45{
    float:left;
    width:45%;
    border-style:none;
    padding: 5px;
}
#layoutLeft100Blue{
    float:left;
    width:99%;
    min-width: 99%;
    border-style: groove;
    border-color:  #2080D0;
    padding: auto;
    
    background-color: powderblue;
    cursor: pointer;
}
#layoutLeft100Pastel{
    float:left;
    width:99%;
    min-width: 99%;
    border-style: groove;
    border-color: #606060;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
}
#layoutLeft90Pastel{
    float:left;
    width:90%;
    min-width: 90%;
    border-style: groove;
    border-color: #606060;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
}
#layoutLeft75Pastel{
    float:left;
    width:75%;
    min-width: 75%;
    border-style: groove;
    border-color: #606060;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
}
#layoutLeft45Blue{
    float:left;
    width:45%;
    min-width: 45%;
    border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
}

#layoutLeft45Pastel{
    float:left;
    width:45%;
    min-width: 45%;
    border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
    
}

#layoutLeft45Pink{
   float:left;
    width:45%;
    min-width: 45%;
   background-color: #ffe6ff;
    padding: 5px;
    cursor: auto; 
}
#layoutLeft25Blue{
    float:left;
    width:25%;
    min-width: 25%;
    border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
}
#layoutLeft25Pastel{
    float:left;
    width:25%;
    min-width: 25%;
    border-style: groove;
    border-color : white;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
}
#layoutLeft25{
    float:left;
    width:25%;
    min-width: 25%;
    border-style: none;
    border-color:  #2080D0;
    padding: 5px;
    
    cursor: auto;
}

#layoutLeft15Blue{
    float:left;
    width:15%;
    min-width: 15%;
    border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
}

#layoutLeft15Pastel{
    float:left;
    width:15%;
    min-width: 15%;
    border-style: groove;
    border-color:  white;
    padding: 5px;
    background-color: lemonchiffon;
    
}
#layoutLeft30{
    float: left;
    width:30%;
    min-width: 30%;
    min-height: 100%;
    border-style:none;
    padding: 5px;
    
   
    
}

#layoutLeft30Blue{
    float: left;
    width:30%;
    min-width: 30%;
    min-height: 100%;
    border-style:none;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
    border: #2080D0 groove;
}
#layoutLeft30Pastel{
    float: left;
    width:30%;
    min-width: 30%;
    min-height: 100%;
    border-style:none;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
    border: burlywood solid;
}
#layoutRight30{
    float:right;
    width:30%;
    padding: 5px;
}
#layoutRight45{
    float:right;
    width:45%;
    padding: 5px;
}

#layoutRight45Pink{
    float:right;
    background-color:#ffe6ff;
    width:45%;
    padding: 5px;
}
#layoutRight45Blue{
    float:right;
    width:45%;
    min-width: 45%;
    border-style: groove;
    border-color:  #2080D0;
    padding: 5px;
    background-color: powderblue;
    cursor: pointer;
}

#layoutRight25Pastel{
    float:right;
    width:25%;
    min-width: 25%;
    border-style: groove;
    border-color : white;
    padding: 5px;
    background-color: lemonchiffon;
    cursor: auto;
}
#layoutWithBorder{
    border-style: groove;
    align-content: center;
    width :40%;
}
#flameTestTable{
    border: #5319AA ;
    background-color: white;
    border-style: groove;
}
#flameTestTableRow{
    background-color: white;
}
#flameTestTableCell{
    background-color: white;
   border:none; 
}
#flameTestTableCellLithium{
    border:none;
    background-color: red;
}
#flameTestTableCellSodium{
    border:none;
    background-color: darkorange;
}
#flameTestTableCellPotassium{
    border:none;
    background-color: mediumorchid;
}
#flameTestTableCellCalcium{
    border:none;
    background-color: red;
}
#flameTestTableCellCopper{
    border:none;
    background-color: seagreen;
}
#buildTable{
    border-style: none;
    background-color: yellow;
    width:80%;
    
}
#fillRows{
    width:50%;
}
#list1{
    width:90%;
    padding:5px;
    background-color: powderblue;
    font:comic sans serif;
    font-size:small;
    border:none;
}
#footer{
    min-width: 100%;
    float:left;
    padding: 10px;
    
}
#bigPeriodicTable{
    height:100%;
    width:100%;
}
#ionAnswers{
    height:100%;
    width:100%;
}

#mySVG{
    cursor:pointer;
    width:100px;
    height:100px;
    
}


#selectedElement{
    min-height: 100%;
    min-width: 80%;
    max-width: 80%;
    background-color:palegoldenrod;
}

#selectedMolecule{
    height: 50px;
    min-width: 80%;
    max-width: 80%;
    background-color:palegoldenrod;
    
   padding-top: 2px;
}
#singleRowFullWidth{
    width:100%;
    min-height:10%;
    border: none;
    padding:5px;
}
#RAMAnswer{
    width:80%;
    background-color: peachpuff;
}
#RFMAnswer{
     width:80%;
     min-height: 50px;
    background-color: peachpuff;
    padding-top:2px;
}
#video1{
    background-color: #FFF1FF;
}

#perTableGroup1{
    width:100%;
    border: none;
   
}
#polymers1{
    width : 30%;
    float:left;
    background-color: bisque;
    padding : 10px;
    
}
#precipitationTest{
    width: 70%;
    float:right;
    border: chocolate thin solid;
}

#chemicalTestButton{
    color: chocolate;
    background-color: white;
    padding : 3px;
}


  
  
#emptyCell{
    border:none;
    background-color:white;
}
#group1Cell{
    background-color: red;
    cursor: pointer;
}
#group2Cell{
    background-color: white;
    
}

#group4Cell{
    background-color: black;
    cursor: pointer;
    color:white;
    border-color:pink;
}

#group6Cell{
    cursor: pointer;
    background-color:lightskyblue;
}

#group7Cell{
    background-color: palegreen;
    cursor: pointer;
}

#group8Cell{
    background-color: #FFFAF0;
     cursor: pointer;
}

#TMcell{
    background-color: silver;
}

#imageDisplay{
    height:100%;
    width:100%;
    
    
}
#imageDisplayPointer{
    height:100%;
    width:100%;
    cursor: pointer;
    
}

#definitions{
    color: orchid;
    cursor: pointer;
    
    
}
#definitionsGlossary{
    color: orchid;
    cursor: pointer;
    background-color:#ccffcc;
    
    
}

#headerFactBox{
    background-color:white;
    width: 100px;
   margin-left: 10px;
   margin-bottom: 10px;
    
}

